<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javafan.statichandler.elm.mapper.ElmBillMapper">

    <select id="listAllByIdElmBills" resultType="com.javafan.statichandler.elm.ElmBill">
        select *
        from t_eml_wm_bill;
    </select>
</mapper>